body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2006px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u81_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2006px;
  height:130px;
  background:inherit;
  background-color:rgba(54, 54, 54, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(153, 0, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2006px;
  height:130px;
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:15px;
  width:875px;
  height:88px;
}
#u82_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:875px;
  height:88px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u83 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:875px;
  height:88px;
}
#u84_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:88px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:88px;
  font-family:'GurmukhiMN', 'Gurmukhi MN';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:29px;
  width:171px;
  word-wrap:break-word;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:88px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:0px;
  width:175px;
  height:88px;
  font-family:'GurmukhiMN', 'Gurmukhi MN';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:29px;
  width:171px;
  word-wrap:break-word;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:88px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:0px;
  width:175px;
  height:88px;
  font-family:'GurmukhiMN', 'Gurmukhi MN';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:29px;
  width:171px;
  word-wrap:break-word;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:88px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:0px;
  width:175px;
  height:88px;
  font-family:'GurmukhiMN', 'Gurmukhi MN';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:29px;
  width:171px;
  word-wrap:break-word;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:88px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:0px;
  width:175px;
  height:88px;
  font-family:'GurmukhiMN', 'Gurmukhi MN';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:29px;
  width:171px;
  word-wrap:break-word;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:116px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:7px;
  width:225px;
  height:116px;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2006px;
  height:1122px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:130px;
  width:2006px;
  height:1122px;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:166px;
  background:inherit;
  background-color:rgba(54, 54, 54, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'GurmukhiMN', 'Gurmukhi MN';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:821px;
  top:299px;
  width:365px;
  height:166px;
  font-family:'GurmukhiMN', 'Gurmukhi MN';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:53px;
  width:361px;
  word-wrap:break-word;
}
#u92_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:257px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:457px;
  width:235px;
  height:257px;
}
#u92_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:218px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:1378px;
  top:504px;
  width:247px;
  height:218px;
}
#u93_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2006px;
  height:147px;
  background:inherit;
  background-color:rgba(54, 54, 54, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1105px;
  width:2006px;
  height:147px;
  color:#FFFFFF;
}
#u95_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:center;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:758px;
  top:1197px;
  width:491px;
  height:42px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:center;
}
#u96_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  word-wrap:break-word;
}
#u97_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:79px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(153, 51, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'GurmukhiMN', 'Gurmukhi MN';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:1128px;
  width:181px;
  height:79px;
  font-family:'GurmukhiMN', 'Gurmukhi MN';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u97_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:177px;
  word-wrap:break-word;
}
#u98_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2006px;
  height:5px;
  background:inherit;
  background-color:rgba(153, 51, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u98 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1100px;
  width:2006px;
  height:5px;
}
#u98_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2006px;
  height:147px;
  background:inherit;
  background-color:rgba(54, 54, 54, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1257px;
  width:2006px;
  height:147px;
  color:#FFFFFF;
}
#u100_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:center;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:758px;
  top:1349px;
  width:491px;
  height:42px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:center;
}
#u101_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  word-wrap:break-word;
}
#u102_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:79px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(153, 51, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'GurmukhiMN', 'Gurmukhi MN';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:1280px;
  width:181px;
  height:79px;
  font-family:'GurmukhiMN', 'Gurmukhi MN';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u102_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:177px;
  word-wrap:break-word;
}
#u103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2006px;
  height:5px;
  background:inherit;
  background-color:rgba(153, 51, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u103 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1252px;
  width:2006px;
  height:5px;
}
#u103_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2006px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u80.a {
  position:absolute;
  left:0px;
  top:0px;
  width:2006px;
  height:130px;
}
#u81.a {
}
#u81_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2006px;
  height:130px;
  background:inherit;
  background-color:rgba(54, 54, 54, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(153, 0, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u81.a {
}
#u82.a {
}
#u89.a {
}
#u89_img.a {
}
#u89.a {
}
#u90.a {
  height:970px;
}
#u90_img.a {
  height:970px;
}
#u90.a {
  height:970px;
}
#u91.a {
  top:247px;
}
#u91_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:166px;
  background:inherit;
  background-color:rgba(54, 54, 54, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'GurmukhiMN', 'Gurmukhi MN';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u91.a {
  top:247px;
}
#u91_text.a {
}
#u92.a {
  left:336px;
  top:523px;
  width:214px;
  height:199px;
}
#u92_img.a {
  width:214px;
  height:199px;
}
#u92.a {
  left:336px;
  top:523px;
  width:214px;
  height:199px;
}
#u93.a {
  left:1564px;
  top:523px;
}
#u93_img.a {
}
#u93.a {
  left:1564px;
  top:523px;
}
#u94.a {
  position:absolute;
  left:0px;
  top:1100px;
  width:2006px;
  height:152px;
}
#u95.a {
}
#u95_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2006px;
  height:147px;
  background:inherit;
  background-color:rgba(54, 54, 54, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u95.a {
}
#u96.a {
}
#u96_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:center;
}
#u96.a {
}
#u96_text.a {
}
#u97.a {
}
#u97_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:79px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(153, 51, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'GurmukhiMN', 'Gurmukhi MN';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u97.a {
}
#u97_text.a {
}
#u98.a {
}
#u98_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2006px;
  height:5px;
  background:inherit;
  background-color:rgba(153, 51, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u98.a {
}
#u99.a {
  position:absolute;
  left:0px;
  top:1252px;
  width:2006px;
  height:152px;
}
#u100.a {
}
#u100_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2006px;
  height:147px;
  background:inherit;
  background-color:rgba(54, 54, 54, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u100.a {
}
#u101.a {
}
#u101_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:center;
}
#u101.a {
}
#u101_text.a {
}
#u102.a {
}
#u102_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:79px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(153, 51, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'GurmukhiMN', 'Gurmukhi MN';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u102.a {
}
#u102_text.a {
}
#u103.a {
}
#u103_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2006px;
  height:5px;
  background:inherit;
  background-color:rgba(153, 51, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u103.a {
}
body.b {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2006px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u80.b {
  position:absolute;
  left:0px;
  top:0px;
  width:2006px;
  height:130px;
}
#u81.b {
}
#u81_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2006px;
  height:130px;
  background:inherit;
  background-color:rgba(54, 54, 54, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(153, 0, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u81.b {
}
#u82.b {
}
#u89.b {
}
#u89_img.b {
}
#u89.b {
}
#u90.b {
  height:970px;
}
#u90_img.b {
  height:970px;
}
#u90.b {
  height:970px;
}
#u91.b {
  top:247px;
}
#u91_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:166px;
  background:inherit;
  background-color:rgba(54, 54, 54, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'GurmukhiMN', 'Gurmukhi MN';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u91.b {
  top:247px;
}
#u91_text.b {
}
#u92.b {
  left:336px;
  top:523px;
  width:214px;
  height:199px;
}
#u92_img.b {
  width:214px;
  height:199px;
}
#u92.b {
  left:336px;
  top:523px;
  width:214px;
  height:199px;
}
#u93.b {
  left:1564px;
  top:523px;
}
#u93_img.b {
}
#u93.b {
  left:1564px;
  top:523px;
}
#u94.b {
  position:absolute;
  left:0px;
  top:1100px;
  width:2006px;
  height:152px;
}
#u95.b {
}
#u95_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2006px;
  height:147px;
  background:inherit;
  background-color:rgba(54, 54, 54, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u95.b {
}
#u96.b {
}
#u96_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:center;
}
#u96.b {
}
#u96_text.b {
}
#u97.b {
}
#u97_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:79px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(153, 51, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'GurmukhiMN', 'Gurmukhi MN';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u97.b {
}
#u97_text.b {
}
#u98.b {
}
#u98_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2006px;
  height:5px;
  background:inherit;
  background-color:rgba(153, 51, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u98.b {
}
#u99.b {
  position:absolute;
  left:0px;
  top:1252px;
  width:2006px;
  height:152px;
}
#u100.b {
}
#u100_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2006px;
  height:147px;
  background:inherit;
  background-color:rgba(54, 54, 54, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u100.b {
}
#u101.b {
}
#u101_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:center;
}
#u101.b {
}
#u101_text.b {
}
#u102.b {
}
#u102_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:79px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(153, 51, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'GurmukhiMN', 'Gurmukhi MN';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u102.b {
}
#u102_text.b {
}
#u103.b {
}
#u103_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2006px;
  height:5px;
  background:inherit;
  background-color:rgba(153, 51, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u103.b {
}
