body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2006px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2006px;
  height:1252px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2006px;
  height:1252px;
}
#u104_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:64px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(13, 13, 13, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:272px;
  width:172px;
  height:64px;
  font-size:16px;
}
#u105_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:168px;
  word-wrap:break-word;
}
#u106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:62px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(13, 13, 13, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:387px;
  width:172px;
  height:62px;
  font-size:16px;
}
#u106_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:168px;
  word-wrap:break-word;
}
#u107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:63px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(13, 13, 13, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:492px;
  width:172px;
  height:63px;
  font-size:16px;
}
#u107_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:168px;
  word-wrap:break-word;
}
#u108_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:63px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(13, 13, 13, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:609px;
  width:172px;
  height:63px;
  font-size:16px;
}
#u108_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:168px;
  word-wrap:break-word;
}
#u109_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:60px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(13, 13, 13, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:722px;
  width:172px;
  height:60px;
  font-size:16px;
}
#u109_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:168px;
  word-wrap:break-word;
}
#u110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:136px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:1015px;
  top:322px;
  width:148px;
  height:136px;
}
#u110_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:113px;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:783px;
  top:245px;
  width:117px;
  height:113px;
}
#u111_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:144px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:1006px;
  top:554px;
  width:165px;
  height:144px;
}
#u112_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:143px;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:769px;
  top:663px;
  width:159px;
  height:143px;
}
#u113_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:121px;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:769px;
  top:434px;
  width:131px;
  height:121px;
}
#u114_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2006px;
  height:130px;
  background:inherit;
  background-color:rgba(54, 54, 54, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(153, 0, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2006px;
  height:130px;
}
#u116_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:15px;
  width:875px;
  height:88px;
}
#u117_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:875px;
  height:88px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u118 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:875px;
  height:88px;
}
#u119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:88px;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:88px;
  font-family:'GurmukhiMN', 'Gurmukhi MN';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u119_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:29px;
  width:171px;
  word-wrap:break-word;
}
#u120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:88px;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:0px;
  width:175px;
  height:88px;
  font-family:'GurmukhiMN', 'Gurmukhi MN';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u120_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:29px;
  width:171px;
  word-wrap:break-word;
}
#u121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:88px;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:0px;
  width:175px;
  height:88px;
  font-family:'GurmukhiMN', 'Gurmukhi MN';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u121_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:29px;
  width:171px;
  word-wrap:break-word;
}
#u122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:88px;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:0px;
  width:175px;
  height:88px;
  font-family:'GurmukhiMN', 'Gurmukhi MN';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u122_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:29px;
  width:171px;
  word-wrap:break-word;
}
#u123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:88px;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:0px;
  width:175px;
  height:88px;
  font-family:'GurmukhiMN', 'Gurmukhi MN';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u123_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:29px;
  width:171px;
  word-wrap:break-word;
}
#u124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:116px;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:7px;
  width:225px;
  height:116px;
}
#u124_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:555px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'GurmukhiMN-Bold', 'Gurmukhi MN Bold', 'Gurmukhi MN';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:1189px;
  top:245px;
  width:555px;
  height:63px;
  font-family:'GurmukhiMN-Bold', 'Gurmukhi MN Bold', 'Gurmukhi MN';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u125_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:555px;
  word-wrap:break-word;
}
#u127_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2006px;
  height:147px;
  background:inherit;
  background-color:rgba(54, 54, 54, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1105px;
  width:2006px;
  height:147px;
  color:#FFFFFF;
}
#u127_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:center;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:758px;
  top:1197px;
  width:491px;
  height:42px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:center;
}
#u128_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  word-wrap:break-word;
}
#u129_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:79px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(153, 51, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'GurmukhiMN', 'Gurmukhi MN';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:1128px;
  width:181px;
  height:79px;
  font-family:'GurmukhiMN', 'Gurmukhi MN';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u129_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:177px;
  word-wrap:break-word;
}
#u130_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2006px;
  height:5px;
  background:inherit;
  background-color:rgba(153, 51, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u130 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1100px;
  width:2006px;
  height:5px;
}
#u130_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
